<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>cffootballbypass</name>
    <displayName><![CDATA[CF Football Bypass]]></displayName>
    <version><![CDATA[1.5.5]]></version>
    <description><![CDATA[Operates with Cloudflare to toggle Proxy (ON/CDN) and DNS Only (OFF) based on blocks, with persistent record caching.]]></description>
    <author><![CDATA[Jose Manuel Pedraja]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>